*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* navbar */
.nav{
    position:fixed ;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color:rgba(1, 7, 54,0.9);
    padding-right:  25px;
    margin-right: 25px;
    z-index: 40; 
}
.i1{
    color:#fbf9f2;
    font-size: 22px;
    padding-top:   15px;
    padding-left: 25px;
    display: inline;
    
} 
.i1:hover{
    color:#E9B949;
}
.search{
    position: relative;
    width: 300px;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 1px;
    margin-left: 60px;
    
}
.search input{
    border: 0;
    width: 100%;
    height: 100%;
    background-color:#fbf9f2;
    border-radius: 20px;
    padding-left: 35px;
    margin-top: 10px;
}
.search .i2{
    font-size: 15px;
    color: #22396F;
    position: absolute;
    left: 12px;
    top: 30%;
    
}
.navlink{
    float: right;
    list-style:none;
}
.navlink li {
    display: inline-block;
    margin: 15px;
    
}
.navlink li a{
    text-decoration: none;
    color:#FCF1D0;
    position: relative;
    padding-bottom: 7px;
    
}
.navlink li a::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    border-radius: 2px;
    bottom: 0;
    left: 0;
    background-color:#FCF1D0;
    opacity: 0;
}
.navlink li a:hover::after {
    width: 100%;
    opacity: 0.8;
    transition: 0.5s;
}

.lista{
    position:relative;
    display:inline-block;
}
.dropdown {
    width: 150px;
    padding: 5px;
    background-color: #010736;
    border-radius: 10px;
    border: 1px solid#FCF1D0;
    text-align: center;
    position: absolute;
    left: 0;
    top: 150%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 40;
    margin-bottom: 5px;
}
.dropdown li a {
    color: #FCF1D0;
    display: block;
    padding: 10px 0px;
    text-align: center;
    margin: 0;
}
.lista:hover .dropdown {
    visibility: visible;
    opacity: 1;
}
.dropdown li {
    display: block;
}
/*////////////////////////// hero img ////////////////////////////// */
.container1{
    position: relative;
}
.section1{
    width: 100%;
    height: 100vh;
    background-image: url(../images/sec1bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#fffffe;
}
.hero .sec1part1{
    font-size: 50px;

}
.hero .sec1part2{
    font-size: 50px;
    color:#8FA8E8;
}
.hero p{
    color:#bfc8dd;
    line-height: 30px;
    font-size: larger;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(15, 22, 41, 0.4);
    position: absolute;
}
.herobtn{
    width: 180px;
    height: 50px;
    margin: 15px 10px 0px 0px;
    border-radius: 15px;
    border: 0px;
    font-size: 18px;
    color: #FCF1D0;
}
.herobtn:hover{
    opacity: 0.7;
}
.btn2{
    background-color: rgba(255,255,255,0.08);
    border: 1px solid#FCF1D0;
}
.btn1 {
    background-color: #22396F;
}
/*//////////////////// section 1 = welcome to website ///////////////////////*/
.headh2{
    font-size:40px;
    color:#010736;
    text-align: center;
    padding-top: 80px;
    
}
.line{
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color:#22396F ;
    margin:auto ;
    margin-top: 10px;
    margin-bottom: 20px;
}
.section2{
    width: 100%;
    height: 100vh;
}
.container2_items{
   width:84% ;
   margin-top:100px;
   margin-left: 170px;
   padding:10px;
   position: relative;
}
.container2_item{
    width: 30%;
    height:300px;
    text-align:center;
    float: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    border: 2px solid rgb(198, 213, 233);
    padding: 20px 10px;
    border-radius: 10px;
    position: relative;
}
.container2_item h3{
    color: rgb(15, 23, 42);
    font-size: 30px;
    padding-bottom: 10px;
}
.con_center1{
    margin: 0 20px;
}
.container2_item i{
    color:#22396F;
    font-size:30px ;
    padding-top: 10px;
    padding-bottom: 20px;
}
.container2_item p{
    color:rgb(100, 116, 139);
}
.container2_item a{
    text-decoration: none;
    color: rgb(21, 60, 142);
    position: absolute;
    bottom: 20px;
    left:140;

}
.container2_item a:hover  .container2_item a{
    padding-left: 5px;
}
.container2_item::after{
    position: absolute;
    z-index:-1 ;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color:rgba(166, 189, 219, 0.6);
    
}
.container2_item:hover::after{
    width: 100%;
    height: 100%;
    transition: 0.6s;
}
.container2_item:hover h3{
    color: rgb(25, 39, 71);
}
.container2_item:hover p{
   color: black;
}
/*//////////////////// section 3 = featured works ///////////////////////*/
.section3{
    width: 100%;
    height: 100vh;
    background-color:#fbf9f4;
}
.container3{
    width: 60%;
    height: 570px;
    margin: auto;
}
.container3_item{
    width: 250px;
    height: 250px;
    float: left;
    margin: 10px 20px;
    position: relative;
}
.container3 img{
    border-radius: 15px;
}
.con3_overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(1, 7, 54, 0.80);
    position: absolute;
    border-radius: 15px;
    z-index: 1;
    transition: .1s;
    color:#fdf8e8;
    text-align: center; 
    line-height: normal;
    visibility: hidden; 
    padding: 5px 10px;
}
.con3_overlay h3{
    font-size: 25px;
    padding-top: 10px;
    color:#fdf8e8;   

}
.con3_overlay p{
    font-size: 20px;
    padding-top: 10px;
    color:rgb(226, 232, 240);
}
.con3_overlay i{
    width: 35px;
    height: 35px;
    font-size: 20px;
    color: #000000;
    background-color:#E8EDF8;
    border-radius: 50%;
    color:#22396F;
    margin: 5px;
}
.container3_item:hover .con3_overlay{
    visibility: visible;
}
.section4{
    width: 100%;
    height: 100vh;
}
.container4{
    width:80%;
    height: 70%;
    margin: auto;
    margin-top: 50px;
}
.container4 .item2{
    margin: 0px 12%;
}

.container4_item{
    width: 25%;
    height: 40%;
    float: left;
    margin-bottom: 5%;
    border:2px solid rgb(226, 232, 240);
    border-radius: 10px;
    position: relative;
    padding: 5px 5px;

}
.container4_item a i{
    color: #22396F;
    position: absolute;
    font-size: 40px;
    top:10px;
    left: 10px;
}

.container4_item h3{
    color: rgb(15, 23, 42);
    font-size: 25px;
    padding:10px 10px 0px 70px;
}
.container4_item p{
    font-size: 15px;
    padding: 15px 10px 10px 70px;
    color:rgb(46, 93, 159);
}
.container4_item::after{
    position: absolute;
    z-index:-1 ;
    content: "";
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(166, 189, 219, 0.6);  
    visibility: hidden;
}
.container4_item:hover p{
    color:rgb(71, 85, 105);
}
.container4_item:hover::after{
    width: 100%;
    height: 100%;     
    transition: 0.5s;
    visibility: visible;
}
/*//////////////////// section 5 = about us //////////////////////*/
.section5{
    width: 100%;
    height: 100vh;
    background-color:#fbf9f4;
}
.container5{
    width: 80%;
    height: 95%;
    margin: auto;
    padding-top: 150px;
    position: relative;
}
.sec5text{
    width: 45%;
    padding: 10px 10px;
    float: left;
    color: rgb(15, 23, 42);
}
.line5{
    width:100px ;
    height: 3px;
    background-color:#22396F ;
    margin-left: 10px;
}
.sec5text h2{
    font-size: 40px;
    padding:10px 5px;
}
.sec5text p{
    font-size: 15px;
    padding:20px 10px;
    color:#475569;
}
.sec5text li{
    list-style: none;
    color:#22396F;
}
.sec5text li i{
    padding: 10px;
    color: #22396F;
}

.sec5point{
    list-style: none;
    padding-top: 25px;
    padding-left:60%;
}
.sec5point li{
    margin-bottom: 15px;
    color: rgb(145, 142, 142);
}
.sec5photo{
    width: 40%;
    float: left;
    padding-left: 260px;
    margin: auto;
}
.sec5photo img{
    border-radius: 10px;
}
.sec5point li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px 5px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(174, 174, 175);
}
.sec5point li.on{
    background-color:#22396F;
}
.sec5point li:hover{
    background-color:#22396F;
}
/* //////////////////// section 6 = analysis //////////////////// */
.section6{
    width: 100%;
    height: 400px;
    background-image: url(../images/con3.jpeg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color:#fff ;
}
.sec6overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.container6{
    width: 80%;
    margin: auto;
}
.sec6items{
    padding-top: 150px;   
}
.sec6item{
    width: 25%;
    float: left;
    text-align: center;
    
}
.sec6item i{
    color:#bdb49b;
    margin-bottom: 20px;
    font-size: 50px;
}
/* //////////////////// section 7 = pricing //////////////////// */
.section7{
    width: 100%;
    height: 100vh;
}
.section7 p{
   color: #19243b;
   font-size: 25px;
}
.container7{
    width: 70%;
    height: 55%;
    margin: auto;
}
.sec7item{
    width: 30%;
    height: 100%;
    float: left;
    border: 2px solid#CBD5E1;
    padding: 30px 15px;
    text-align: center;
    border-radius: 10px;
    position: relative;
    margin-top: 70px;
}
.sec7item li{
    list-style: none;
    padding: 10px 0;
    color:#22396F;
}
.sec7item h3{
    color: #111827;
    font-size: 35px;
}
.sec7item .sec7price{
    width: 100px;
    padding-top: 20px;
    height: 100px;
    margin: 20px auto ;
    border: 2px solid #a7b8cd;
    border-radius: 50px;
   
}
.sec7item2{
    margin-left: 5%;
    margin-right: 5%;
    border-color:#E9B949;
}
.sec7item button{
    width: 150px;
    height: 30px;
    border-radius: 10px ;
    color:#111827;
    background-color: #fff;
    border: 2px solid #22396F;
    margin-top: 20px;

}
.sec7item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color:rgba(166, 189, 219, 0.6);
    transition: 0.5s;
    opacity: 0.5;
    border-radius: 10px;
    z-index: -1;

}
.sec7item:hover::after{
   width: 100%;
   height: 100%;
   opacity: 0.5;
   transition: 0.5s;
}
.sec7item:hover p {
    color: #22396F ; 
}
.sec7item:hover .sec7price{
    
    border: 2px solid #22396F  ;
}
.sec7item button:hover{
    background-color: #22396F;
    color:#e9e7d1;
}
/* //////////////////// section 8 = team //////////////////// */
.section8{
    width: 100%;
    height: 400px;
    background-image: url(../images/con3.jpeg);
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    color:#e4e4e4 ;
    margin: auto;

}
.sec8overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.sec8items{
    width: 80%;
    height: 100%;
    margin: auto; 
}
.sec8item img{
    border-radius: 50%;
    margin-bottom: 10px;
}
.sec8item{
    width: 40%;
    height: 100%;
    float: left;
    position: relative;
    padding: 100px 10px;
}
.firstitem{
    margin: 0px 150px 0px 50px;
}
.sec8info{
    position: absolute;
    top: 150px;
    left: 200px;
}
.sec8info h3{
    font-size: 30px;
    margin-bottom: 10px;
    color: #fff;
}
.section8 span{
    color: #BFDBFE;
}
.section8 p{
    color: #F8FAFC;
}
/* //////////////////// section 9 = our team //////////////////// */
.section9{
    width: 100%;
    height: 100vh;
    background-color:#fbf9f4;
}
.container9{
    width: 80%;
    height: 60%;
    margin: auto;
}
.sec9item{
     width: 30%;
    height: 80%;
    text-align: center;
    float: left;
    margin-top: 50px;
    background-color:#fff;
    border: 1px solid var(--border);
    padding: 20px 0;
    border-radius: 10%;
    position: relative;
    isolation: isolate;
}
.team2{
    margin-left: 5%;
    margin-right: 5%;
}
.sec9img{
    width: 85%;
    margin: auto;
    position: relative;
}
.sec9img img {
    width: 100%;
    border-radius: 10%;
}
.team_icons{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
}
.sec9item:hover .team_icons{
    visibility: visible;
}
.team_icons a {
    text-decoration: none;
     line-height: 40px;
}
.team_icons a i{
    width: 40px;
    height: 40px;
    display: block;
    color: #010736;
    background-color:#E9B949;
    margin-left: auto;
    margin-bottom: 5px;
}

.team_info h2 , p{
    padding-top: 10px;
}
.team_info p{
    color: #475569;
}
.sec9item:hover .team_info h2{
    color: #fff;
    z-index: 8;
}
.sec9item:hover p{
    color: #8FA8E8;
}
.sec9item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: #22396F;
    opacity: 1;
    transition: 0.5s;
    z-index: -1;
}
.sec9item:hover::after{
    width: 100%;
    height:100%;
    transition: 0.5s;
}
/* //////////////////// section 10 =Latest Automotive Insights//////////////////// */
.section10{
    width: 100%;
    height: 100vh;
    text-align: center;

}
.container10{
    width: 80%;
    height: 70%;
    margin: auto;    
}
.sec10item2{
    margin: 0 5%;
}
.sec10items{
    margin-top: 40px;
}
.sec10item p {
    padding-bottom: 20px;
    color:#010736 ;
   
}
.sec10item{
    width: 30%;
    height: 100%;
    text-align: center;
    float: left;
    padding: 10px;
    border: 2px solid  rgb(183, 203, 228);
    border-radius: 10px;
    position: relative;
}
.sec10item img{
    border-radius: 10px;
    margin-top: 20px;
}
.sec10item ul li{
    list-style: none;
    display: inline-block;
    padding:10px 0;
}
.sec10item::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color:#a6bddb;
    transition: 0.5s;
    opacity: 0.5;
    border-radius: 10px;
    z-index: -1;

}
.sec10item:hover::after{
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: 0.5s;
}
.sec10item:hover .readmore{
    margin-top:-5px;
}
.sec10item a , i {
    padding:10px 5px;
    text-decoration: none;
    color: #274aaa;
    border: 0px solid #274aaa;
    border-radius: 50%;
}
.sec10item:hover p , li{
    color: #294077;
}
.sec10item:hover .readmore{
    color: #010736;
    font-weight: bold;
    font-size: 18px;


}
.readmore i{
    padding-left: 5px;
    color: #22396F;
}
.readmore{
    text-decoration: none;
    color:#010736;
    position: absolute;
    bottom: 5px;
    left: 130px;
}
/* //////////////////// footer //////////////////// */
.footer{
    width: 100%;
    background-color:#02072f;
    padding: 20px 0;
    margin-top: 100px;

}
.footcont img{
    border-radius: 10px;
}
.footcont{
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 5px 5px;
}
.footerlinks{
     margin-top: 10px;
}
.footerlinks  ul li {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px 5px;
    background-color:#22396F;
    font-size: 25px;
    padding-top: 3px;
    position: relative;
}
.footerlinks  i {
    color: #fff;
}
.footcont p{
    font-size: 13px;
    text-transform: uppercase;
    color:#475569;
    padding-top: 10px;
}
.footerlinks ul li:hover{
    background-color: #FFFFFF;
    transition: 0.5s;
}
.footerlinks ul li:hover i{
    color: #22396F;
}